<?php
/**
 * Solwin Infotech
 * Solwin Contact Form Widget Extension
 *
 * @category   Solwin
 * @package    Solwin_Contactwidget
 * @copyright  Copyright © 2006-2020 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */
$widgetEnable = $block->getConfigValue('contactwidget_section/general/enable');
$captchaSitekey = $block->getConfigValue('contactwidget_section/recaptcha/recaptcha_sitekey');
$captchaTheme = $block->getConfigValue('contactwidget_section/recaptcha/recaptcha_theme');
$formActionUrl = $block->getFormActionUrl();
$helper = $this->helper('Solwin\Contactwidget\Helper\Data');
$currPageUrl = $helper->getCurrentUrls();

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$moduleManager = $objectManager->get('\Magento\Framework\Module\Manager');
$moduleEnabled = $moduleManager->isEnabled('Solwin_Contactwidget');
?>
<?php if ($widgetEnable && $moduleEnabled) {?>
<form class="form contact" action="<?= /* @noEscape */ $formActionUrl ?>" id="contact-form" method="post" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml($block->getData('cc_title')) ?></span></legend><br />
        <div class="field note no-label"><?= $block->escapeHtml($block->getData('cc_content')) ?></div>
        <div class="field name required">
            <label class="label" for="name"><span><?php if($helper->getNameTitle()) {echo $helper->getNameTitle();} else { echo "Name"; } ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php if($helper->getNameTitle()) {echo $helper->getNameTitle();} else { echo "Name"; } ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="<?php if($helper->getNamePlaceholder()) {echo $helper->getNamePlaceholder();} ?>" />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php if($helper->getEmailTitle()) {echo $helper->getEmailTitle();} else { echo "Email"; } ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php if($helper->getEmailTitle()) {echo $helper->getEmailTitle();} else { echo "Email"; } ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="<?php if($helper->getEmailPlaceholder()) {echo $helper->getEmailPlaceholder();} ?>" />
            </div>
        </div>
        <?php
        if ($block->getData('cc_enable_phoneno')) {
            ?>
        <div class="field telephone required">
            <label class="label" for="telephone"><span><?php if($helper->getPhoneTitle()) {echo $helper->getPhoneTitle();} else { echo "Phone Number"; } ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php if($helper->getPhoneTitle()) {echo $helper->getPhoneTitle();} else { echo "Phone Number"; } ?>" value="" class="input-text" type="text" data-validate="{'validate-number':true}" placeholder="<?php if($helper->getPhonePlaceholder()) {echo $helper->getPhonePlaceholder();} ?>"/>
            </div>
        </div>
        <?php } ?>
        <div class="field Subject required">
            <label class="label" for="subject"><span><?php if($helper->getSubjectTitle()) {echo $helper->getSubjectTitle();} else { echo "Subject"; } ?></span></label>
            <div class="control">
                <input name="subject" id="subject" title="<?php if($helper->getSubjectTitle()) {echo $helper->getSubjectTitle();} else { echo "Subject"; } ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="<?php if($helper->getSubjectPlaceholder()) {echo $helper->getSubjectPlaceholder();} ?>"/>
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment"><span><?php if($helper->getDescriptionTitle()) {echo $helper->getDescriptionTitle();} else { echo "Description"; } ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?php if($helper->getDescriptionTitle()) {echo $helper->getDescriptionTitle();} else { echo "Description"; } ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}" placeholder="<?php if($helper->getDescriptionPlaceholder()) {echo $helper->getDescriptionPlaceholder();} ?>" ></textarea>
            </div>
        </div>
         <?php
            if ($block->getData('cc_enable_recaptcha') && ($captchaSitekey != "")) {
                ?>
        <div class="field ReCaptcha required">
            <label class="label" for="captcha"><span><?= $block->escapeHtml(__('ReCaptcha')) ?></span></label>
            <div class="control">
                <script src="https://www.google.com/recaptcha/api.js"></script>
                <div class="g-recaptcha" data-sitekey="<?= /* @noEscape */ $captchaSitekey?>" data-theme="<?= /* @noEscape */ $captchaTheme ?>"></div>
            </div>
        </div>
        <?php } ?>
        <div class="field datetimepicker required">
            <label class="field-label">
                <span><?php if($helper->getDatePickerTitle()) {echo $helper->getDatePickerTitle();} else { echo "Data Picker"; } ?></span>
            </label>
            <div class="field datetimepicker required ">
                <input type="text" name="datetimepicker" id="datetimepicker" value="" class="datetimepicker" placeholder="<?php if($helper->getDatePickerPlaceholder()) {echo $helper->getDatePickerPlaceholder();} ?>" >
            </div>
        </div>
        <div class="field features required">
            <label class=label for=features><span><?php if($helper->getCheckboxTitle()) {echo $helper->getCheckboxTitle();} else { echo "Checkbox Group"; } ?></span></label>
            <div class=control>
                <div class="field choice features">
                    <input id=feature_blog name=features[] title="<?= $block->escapeHtmlAttr(__('Blog')) ?>" value="<?= $block->escapeHtmlAttr(__('Blog')) ?>" class="checkbox  input-checkbox required-entry" type="checkbox" data-validate="{required:true, 'validate-one-required-by-name':true}">
                    <label for=feature_blog class=label><span><?= $block->escapeHtml(__('Blog')) ?></span></label>
                    
                    <input id=feature_forum name=features[] title="<?= $block->escapeHtmlAttr(__('Forum')) ?>" value="<?= $block->escapeHtmlAttr(__('Forum')) ?>" class="checkbox input-checkbox required-entry" type="checkbox" data-validate="{required:true, 'validate-one-required-by-name':true}">
                    <label for=feature_forum class=label><span><?= $block->escapeHtml(__('Forum')) ?></span></label>
                    
                    <input id=feature_ecommerce name=features[] title="<?= $block->escapeHtmlAttr(__('e-Commerce')) ?>" value="<?= $block->escapeHtmlAttr(__('e-Commerce')) ?>" class="checkbox input-checkbox required-entry" type="checkbox" data-validate="{required:true, 'validate-one-required-by-name':true}">
                    <label for=feature_ecommerce class=label><span><?= $block->escapeHtml(__('e-Commerce')) ?></span></label>
                </div>
            </div>
        </div>
        <div class="field file required">
            <label class="label" for="file"><span><?php if($helper->getFileTitle()) {echo $helper->getFileTitle();} else { echo "Attach a file"; } ?></span></label>
            <div class="control">
               <input name="MAX_FILE_SIZE" type="hidden" value="2000000" />
               <input type="file" name="file" id="file">
            </div>
        </div>
    
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="currUrl" id="currUrl" value="<?= /* @noEscape */ $currPageUrl ?>" />
            <input type="hidden" name="enablerecaptcha" id="currUrl" value="<?= /* @noEscape */ $block->getData('cc_enable_recaptcha') ?>" />
            <button type="submit" title="<?= $block->escapeHtml(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
    <?php
}
?>
<?php
if ($block->getData('cc_enable_recaptcha') && ($captchaSitekey != "")) { ?>
<style>
#contact-form .fieldset .field {
    width: calc(100% - 13px);
}
</style>
<?php } ?>
<style>
#contact-form {
    width: 100%;
}
#contact-form .action.submit.primary {
    margin-bottom: 10px;
}
#contact-form .g-recaptcha {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
#contact-form .fieldset {
    margin-bottom: 10px;
}

@media screen and (device-aspect-ratio: 2/3) {
    #contact-form .fieldset .field input[type="text"] {
        font-size: 16px;
  }
  #contact-form .fieldset .field input[type="email"] {
        font-size: 16px;
  }
  #contact-form .fieldset .field textarea {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  #contact-form .fieldset .field input[type="text"] {
        font-size: 16px;
  }
  #contact-form .fieldset .field input[type="email"] {
        font-size: 16px;
  }
  #contact-form .fieldset .field textarea {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 375/667) {
    #contact-form .fieldset .field input[type="text"] {
          font-size: 16px;
    }
    #contact-form .fieldset .field input[type="email"] {
          font-size: 16px;
    }
    #contact-form .fieldset .field textarea {
      font-size: 16px;
    }
}

@media screen and (device-aspect-ratio: 9/16) {
  #contact-form .fieldset .field input[type="text"] {
        font-size: 16px;
  }
  #contact-form .fieldset .field input[type="email"] {
        font-size: 16px;
  }
  #contact-form .fieldset .field textarea {
    font-size: 16px;
  }
}
</style>
<script>
require([
    'jquery',
    'mage/calendar'
], function($){
    $('#datetimepicker').datetimepicker({
        dateFormat: 'mm/dd/yy',
        timeFormat: 'HH:mm:ss',
        changeMonth: true,
        changeYear: true,
        showsTime: true
    });
});
</script>